<div
  #showCard
  class="show"
  [ngClass]="{'hovered': hovered}"
  [id]="customId ? customId + '-' + show?.id : show?.id"
  (click)="itemClicked()"
  >
  <div
    *ngIf="hovered"
    class="show-header unselectable"
    >
    {{ show?.name }}
  </div>
  <div class="img-container">
    <img
      *ngIf="show?.image"
      src={{show?.image?.medium}} />
    <div
      *ngIf="!show?.image"
      class="blank-image"></div>
  </div>
  <div *ngIf="hovered"
    class="show-desc unselectable">
    {{show?.summary | detag | ellipsis: 35}}
  </div>
</div>
