<div
  class="show-card"
  *ngIf="show"
  >

  <h2
    class="show-title"
    >{{show.name}}
  </h2>

  <div class="show-img-desc">
    <img
      *ngIf="show.image"
      [src]="show.image.medium"
      class="show-img">

    <div
      class="show-desc">

      <ng-component
      [innerHTML]="show.summary"></ng-component>

      <p> Genres </p>
      <div
        class="show-genres" >
        <div *ngFor="let genre of show.genres"
          class="show-genre" >
          {{genre}}
        </div>
      </div>

      <div *ngIf="show.rating?.average">
        Average Rating:
          <strong>{{show.rating?.average}}</strong>
      </div>
      <div *ngIf="!show.rating?.average">No Rating available</div>

    </div>
  </div>

  <div class="suggested">
    <h4>
      SIMILAR SHOWS
    </h4>

    <app-show-list
      [shows]="similarShows"
      [noMessage]="'No Similar Shows Found'"
      (showSelected)="reloadData($event)"
      >
    </app-show-list>

  </div>
</div>

<!--
<pre>
  {{show | json}}
</pre> -->
