<h2> Browse by Categories </h2>

<!-- form WITH THE GENRES -->
<!-- <app-toggle
  [(checkedVar)]="checkAll"
  [textOn]="'ALL'"
  [textOff]="'ANY'"></app-toggle> -->
  <!-- <div
    class="categories-list">
    <div
      class="toggle-button"
      *ngFor="let genre of genres; let i = index">
      <label>
        <input
          (change) = "getUserSelect($event,i)"
          type="checkbox" value="category">
        <div
          class="btn btn-primary desc">
          {{genre}}
        </div>
      </label>
    </div>
  </div> -->
<!-- <app-show-list
  [shows]="filterShows(checkAll)"
></app-show-list> -->

  <!-- VARIANT WITH ITS OWN COMPONENT -->
  <app-genre-selector
    [genres]="genres"
    [selectedGenres]="selectedGenres"
    (newSelection)="newSelection($event)"
    (resetSelection)="resetSelection()"
    ></app-genre-selector>

<app-show-list
  [shows]="shows"
  [maxShown]="maxShown"
  [increment]="increment"
></app-show-list>

<!-- <pre> {{genres | json}} </pre>
<pre> {{selectedGenres | json}} </pre> -->
