<h2> Browse by Categories </h2>

<app-toggle
  [(checkedVar)]="checkAll"
  [textOn]="'ALL'"
  [textOff]="'ANY'"></app-toggle>

<!-- form WITH THE GENRES -->
  <div
    class="categories-list">
    <div
      class="toggle-button"
      *ngFor="let genre of genres; let i = index">
      <label>
        <input
          (change) = "getUserSelect($event,i)"
          type="checkbox" value="category">
        <div
          class="desc">
          {{genre}}
        </div>
      </label>
    </div>
  </div>


<!-- LIST OF FILTERED MOVIES -->
<div
  class="show-list">
  <app-show-card
    *ngFor="let show of filterShows(checkAll).slice(0,maxShown)"
    [show]="show"></app-show-card>
  <div *ngIf="filterShows(checkAll).length == 0">No Shows Found :(</div>
</div>


<!-- INCREMENT BUTTON -->
<button
  #showMoreButton
  *ngIf="filterShows(checkAll).length > maxShown"
  (click)="showMore()"
  >SHOW MORE</button>
