.topnav
  background-color: #ed6f45
  padding: 1em
  position: fixed
  left: 0
  right: 0
  z-index: 10
  top: 0
  max-height: 9%
  display: flex
  align-items: center
  justify-content: space-between

.navitem
  margin: 1em

.user-name
  right: 0
  text-align: right
