.topnav
  background-color: #ed6f45
  padding: 1em
  position: fixed
  left: 0
  right: 0
  z-index: 10

.navitem
  margin: 1em
  color: white
  transition: 1s


  &:hover
    color: green
    font-weight: 900
