.show-title
  margin: auto
  outline: 2px solid teal
  text-align: center

.show-img-desc
  display: flex
  flex-direction: row
  margin: auto
  width: 80%
  outline: 2px solid salmon

.show-img
  width: 50%
  outline: 2px solid blue

.show-desc
  width: 50%
  outline: 2px solid brown

.show-genres
  display: flex
  flex-direction: row
  outline: 2px solid green

.show-genre
  outline: 2px solid red
  margin: auto
