
<h2>
  {{user.mail || 'User'}} Settings
</h2>

<form
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
  class="grid-container theme"
  >

  <label
    class="form-label"
    for="email">E-Mail</label>
  <input
    type="email"
    formControlName="mail"
    placeholder="E-Mail"
    class="form-control form-control-lg"
    >

  <label
    for="theme"
    class="form-label">Theme</label>
  <select
    class="form-select"
    formControlName="theme"
    name="Theme"
    >
    <option
      value="light"
      >Light</option>
    <option
      value="dark"
      >Dark</option>
  </select>

  <br>

  <input type="submit" class="submit btn btn-primary" value="Save Settings">

</form>
